In [54]:
import os
import json
import sqlite3

import pandas as pd

In [55]:
filepath = 'data/'

In [56]:
data = []

for filename in os.listdir(filepath):
    cnx = sqlite3.connect(filepath + filename)
    df_string = pd.read_sql_query("SELECT * FROM COUNTERS_STRING_TIME_DATA", cnx)
    df_ull = pd.read_sql_query("SELECT * FROM COUNTERS_ULL_TIME_DATA", cnx)
    df_data = pd.concat([df_string, df_ull], ignore_index = True)
    data.append(pd.DataFrame(df_data))

In [57]:
df = pd.concat(data, ignore_index = True)

In [58]:
df['MEASUREMENT_TIME'] = pd.to_datetime(df['MEASUREMENT_TIME'])
df['PRIVATE_DATA'] = df['PRIVATE_DATA'].astype(int)
df['VALUE'] = df['VALUE'].str.lower()

In [59]:
df.dtypes

MEASUREMENT_TIME    datetime64[ns]
ID_INPUT                     int64
VALUE                       object
PRIVATE_DATA                 int64
dtype: object

In [60]:
df = df.sort_values(by = ['MEASUREMENT_TIME'], ignore_index = True)

In [61]:
df

            MEASUREMENT_TIME  ID_INPUT               VALUE  PRIVATE_DATA
0    2023-01-15 18:20:31.552         3            esrv.exe             0
1    2023-01-15 18:20:31.552         4  vsdebugconsole.exe             0
2    2023-01-15 18:20:31.552         5  consolewindowclass             0
3    2023-01-15 18:20:31.552        11                 NaN             0
4    2023-01-15 18:20:31.552        10                 NaN             0
...                      ...       ...                 ...           ...
3919 2023-01-16 04:29:33.175         0                 NaN             0
3920 2023-01-16 04:29:33.175         5  consolewindowclass             0
3921 2023-01-16 04:29:33.175         4  vsdebugconsole.exe             0
3922 2023-01-16 04:29:33.175         6                 NaN             0
3923 2023-01-16 04:29:33.175         3            esrv.exe             0

[3924 rows x 4 columns]